/* Open Sans @font-face kit */

@import "../../bower_components/open-sans-fontface/open-sans.less";
@OpenSansPath: "../fonts/open-sans/";

//http://www.google.com/fonts
// @import url(http://fonts.googleapis.com/css?family=EB+Garamond);

@base-font:  'Open Sans';
// @heading-font: 'EB Garamond', cursive;
// @button-font: 'Open Sans';

// body{
// 	font-family: @base-font;
// }

// h1,h2{
// 	font-family: @heading-font;
// }

// .btn{
// 	font-family: @button-font;
// }